*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-black--:hsla(244, 23%, 12%, 1);
    --clr-orange--:hsla(12, 94%, 65%, 1);
    --clr-white--:hsla(20, 33%, 98%, 1);

    /*HOVERS*/
    --clr-aqua--:hsla(177, 68%, 64%, 1);
    --clr--dark-yellow:hsla(33, 100%, 70%, 1);
    --clr-orange--:hsla(12, 94%, 65%, 1);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url(/assets/bg-main-tablet.png);
    background-repeat: no-repeat;
    background-position-x:-600px;
    background-position-y: -500px;
    
}

.mobile-background{
    position: relative;
}


.pattern-1{
    display: none;
}

.pattern-2{
    display: none;
}

.figures{
width: 100%;
height: 100%;
padding-left: 48px;
padding-right: 48px;
object-fit:contain;
}

header{
    padding:40px 24px 68px 24px;
}

.logo{
   font-size: 36px;
   color: var(--clr-black--);
   font-weight: 700;
}

header h2{
    margin-top: 64px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.45px;
}

header p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 327px;
    margin-bottom: 68px;
    
}

.main-content .black-box{
    display: flex;
    justify-content: center;
    position: relative;
    height: 600px;
    width: 375px;    
    background-color: var(--clr-black--);
    min-width: 375px;
    width: 100%;
    
   
}

.main-content .mobile{
    position: absolute;
    height: 430px;
    width: 208px;
    top: -98px;
}

.main-content{
    height: 1070px;
}

.orange-box{
    height: 546px;
    width: 375px;
    background-color: var(--clr-orange--);
    border-radius: 12px;
    position: relative;
    top: -130px;
    color: var(--clr-white--);
    padding: 48px 37px 48px 36px;
    width: 100%;
}

.orange-box h2{
   font-family: IBM Plex Sans;
   font-size: 32px;
   font-weight: 700;
   line-height: 40px;
}

.orange-box p{
    height: 140px;
    width: 302px;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
}

.orange-box .price{
    display: flex;
    align-items: center;
    font-family: IBM Plex Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0px;
}

.price span{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2 px;
    font-weight:100;
    padding-left: 16px;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ios-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    width: 296px;
    border-radius: 12px;
    background-color: var(--clr-black--);
    color: var(--clr-white--);
    cursor: pointer;

}

.ios-button, a{
    font-family: IBM Plex Sans;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    font-weight: 700;
}

.ios-button img{
    margin-right: 8px;
}

.android-button img{
    margin-right: 8px;
}

.android-button, a{
    font-family: IBM Plex Sans;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    font-weight: 700;
}

.android-button{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 61px;
    width: 296px;
    border-radius: 12px;
    background-color: var(--clr-white--);
    color: var(--clr-black--);
    margin-top: 16px;
    cursor: pointer;
}


.flex-footer{
    padding:0px 25px 81px 24px;
}

footer p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 327px;
    margin-top: 32px;
    margin-bottom: 64px;
}

.icons{
    display: flex;
    list-style-type: none;
}

.padding-left{
    padding-left: 20px;
}

footer span{
    font-weight: bold;
}

/*TABLET TABLET TABLET*/
@media (min-width: 768px){
    body{
        background-image: url(/assets/bg-main-tablet.png);
        background-repeat: no-repeat;
        background-position-x:-370px;
        background-position-y: -300px;
    }

    header h2{
        width: 520px;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.73px;
        margin-top: 95px;
    }

    header p{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        width: 514px;
        margin-bottom: 111px;
        
    }
    .pattern-1{
        position: absolute;
        right: -40px;
        top: -50px;
        display:block;
        height: 400px;
        width: 266px;
    }

    .main-content .mobile {
        width: 270px;
        height: 556px;
      left: 64px;
    }

    .figures {    
        margin-left: -70px;
        height: 420px;
        width: 280px;
}

.orange-box {
    height: 546px;
    width: 375px;
    background-color: var(--clr-orange--);
    border-radius: 12px;
    position: relative;
    top: -410px;
    left: 240px;
    color: var(--clr-white--);
    padding: 48px 37px 48px 36px;
}

.main-content{
    height: 834px;
}
     .footer-info{
        display: flex;
        justify-content: space-between;
     }

     .flex-footer{
        display: flex;
        flex-direction: column;
        padding: 0px 39px 0px 38px;
     }

     footer p{
        width: 366px;
     }

     .icons{ 
        margin-top: 60px;
     }

     footer span{
        font-weight: bold;
    }

    /*DEKSTOP DEKSTOP DEKSTOP*/ 
     @media (min-width: 1440px){
        body{
            background-image: url(/assets/bg-main-desktop.png);
            background-repeat: no-repeat;
            background-position-x:-270px;
            background-position-y: -270px;
        }
        header{
            padding: 61px 166px 0px 166px;
        }

        header h2{
            font-size: 88px;
            width: 1015px;
            line-height: 88px;
            letter-spacing: -1px;
            padding-right: 100px;
        }

        header p{
            margin-top: 40px;
            width: 830px;
            font-size: 20px;
            line-height: 34px;
        }

        .main-content{
            padding-left: 166px;
            padding-right: 166px;
        }

        .main-content .black-box{
            border-radius: 12px;
            height: 600px;
            margin-top: 321px;
        }

        .main-content .mobile {
            height: 642px;
            width: 312px;
            left: 118px;
            top: -245px;
        }

        .orange-box{
            left: 540px;
            height: 625px;
            width: 446px;
            top: -445px;
        }

        .figures {
            height: 468px;
            width: 312px;
            margin-right: 75px;
        }

        footer{
            margin-top: 387px;
        }

        .flex-footer {
            display: flex;
            flex-direction: row;
            padding: 0px 166px 0px 166px;
        }

        footer p{
            margin-top: 0;
            font-size: 16px;
            margin-left: 137px;
            width: 366px;
        }

        footer span{
            font-weight: bold;
        }
        .footer-info{
            margin-top:0;
        }

         .icons{
            margin-top:25px;
            margin-left: 359px;
         }

         /* li:hover{
            background-color: var(--clr-orange--); need to fix
         } */
         .pattern-1{
            height: 468px;
            width: 312px;
            right:52px;
         }

         .ios-button:hover{
            background-color: var(--clr-aqua--);
         }

         .android-button:hover{
            background-color:var(--clr--dark-yellow);
         }

     }

}

